version: 2.1

jobs:
  build-and-push:
    machine:
      image: ubuntu-2204:2024.01.2
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build and Push Docker Image
          command: |
            docker build -t my-image .
            docker push my-image

workflows:
  version: 2
  build-and-push-workflow:
    jobs:
      - build-and-push